*{
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body{
    background: black;
}
.main-section{
    max-height: 100vh;
}
.left-section{
    background: rgb(29, 87, 120);
    max-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section{
    max-height: 100vh;
    overflow-y: scroll;
}

.row{
    height: 100%;
    width: 100%;
}

.profile-img{
    height: 200px;
    width: 200px;
    border: 10px solid #dedada33;
    border-radius: 40%;
}

.nav-links{
    margin: 20px;
}

.nav-item{
    color: rgb(225, 218, 218);
    font-weight: 600;
    display: block;
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}
.nav-item:hover{
    color: black;
}

.new-section{
    padding: 150px 40px;
    border-bottom: 2px solid grey;
    min-height: 800px;
}

.name{
    font-size: 72px;
    font-weight: 700;
    color: rgb(225, 218, 218);
}

.section-heading{
        font-size: 72px;
        font-weight: 700;
        text-transform: uppercase;
}

.surname{
    color: rgb(21, 76, 108);
}

.contact-info{
    
    width: 100%;
    font-size: 24px;
}

.email{
    color: rgb(21, 76, 108);
   
}
.phone{
    color: rgb(21, 76, 108);
}
.Address{
    color: rgb(21, 76, 108);
}

.summary{
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    color: rgb(225, 218, 218);
}
h3{
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    color: rgb(225, 218, 218);
}
.section-heading{
    color: rgb(21, 76, 108);
}
.social-icons{
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-icon{
    background-color: #495057;
    color: #fff;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    padding: 10px 20px;
}

.social-icon:hover{
    background-color: rgb(21, 76, 108);
    color: black;
}
.experienceh1{
    color: rgb(21, 76, 108);
}
.skillB{
    color: rgb(21, 76, 108);
}
.acadmicsB{
    color: rgb(225, 218, 218);
}
.acadmicsB1{
    color: rgb(21, 76, 108);;
}
.Achievementsh2{
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    color: rgb(225, 218, 218);
}